/* General */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #f0f5ed;
}

h1, h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
  color: #333;

}

form {
  text-align: center;
}

img {
	height: 200px;
}

/* Navigation Bar */
.navbar {
  background-color: #7dc45c;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar a {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.navbar a:hover {
  color: #ecf0f1;
}

.navbar .logo {
  color: #fff;
  font-size: 36px;
  margin-right: 10px;
  float: left;
}

.navbar .navbar-nav li {
  padding: 10px;
  color: #fff;
}

/* Carousel */
.carousel {
  width: auto;
  height: 400px;
  text-align: center !important;
  color: #333;
}

.carousel-inner {
  text-align: center;
}

.carousel-caption {
  margin-top: 30px;
  background-color: rgba(76, 175, 80, 0.7);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.carousel-caption h3 {
  font-size: 24px;
}

.carousel-caption p {
  font-size: 16px;
}

/* Tables */
table {
  text-align: center;
  border: 1px solid #ddd;
  margin: 30px auto;
  color: #333;
}

.card-table {
  width: 50%;
  border-collapse: collapse;
}

/* Cards */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card h1, h2 {
  text-align: left;
  margin-top: 30px;
  font-size: 28px;
  color: #333;
}

.card h3 {
  font-size: 24px;
  margin: 0;
  color: #hhh;
}

.card p {
  font-size: 16px;
  color: #333;
}

/* Adjust the size and spacing of the cells as needed */
.card-table td {
  width: 33.33%;
  text-align: center;
}

/*Reviews*/
.review-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
	font-size: 16px;
}

input[type="submit"] {
	font-size: 16px;
}

input[type="text"], input[type="number"] {
	width: 80%;
}
